header{
    border: 2px solid black;
    padding: 20px;
    background-color: aquamarine;
    position: sticky;
    top: 0px;
}
main{
    border: 2px solid black;
    height: 1000px;
    background-color: rgb(150, 216, 216);
}
footer{
    border: 2px solid black;
    padding: 20px;
    background-color: blue;
}