*{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: sans-serif;
    background-color: #004643;
  }
  
  header{
    padding: 20px;
    color: #abd1c6;
  }

  nav{
    position: sticky;
    top: 0;
  }

  main{
    height: 1200px;
    padding: 20px;
    background-color: #e8e4e6;
    margin: 10px;
  }
  aside{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 10px;
  }
  
  section{
    height: 120px;
    width: 180px;
    background-color: white;
    padding: 20px;
    margin: 10px 0;
  }
  .centralizado{
    text-align: center;
  }
  .ficaverde:has(button:active){    
    background-color: #004643;
  }
  /* o :has() é uma pseudoclasse lançada recentemente, que possibilita (sem o uso de JS) verificar a atividade de um elemento dentro da tag selecionada.
!Não funciona ainda para todos os navegadores! 
Doc: https://developer.mozilla.org/en-US/docs/Web/CSS/:has
*/
    
  nav{
    padding: 20px;
    background-color: white;
  }
  
  footer{
    background-color: #abd1c6;
    padding: 20px;
    text-align: center;
  }
  footer:hover{
    background: yellow;
  }
