*{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: sans-serif;
    background-color: #004643;
    text-align: center;
  }
  
  header{
    padding: 20px;
    color: #abd1c6;
  }
  main{
    height: 1200px;
    padding: 20px;
    background-color: #e8e4e6;
    margin: 10px;
  }
  
  section:active{
    background-color: red;
    color: black;
  }
  section{
    height: 120px;
    width: 180px;
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    /* text-align: center; */
  }
  
  nav{
    padding: 20px;
    /* position: static; */
  }
  
  footer:hover{
   background-color: aqua;
   color: azure;

  }
  footer{
    text-align: center;
    background-color: #abd1c6;
    padding: 20px;
    text-align: center;}