*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: 1px solid black;
    background-color: green;

}
button:hover{
    background-color: red;
    color: white;
}

button:active{
    background-color: pink;
    color: red
}

header{
    border: 1px solid black;
    text-align: center;
}
