*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    color: orange;
    margin-bottom: 10px;
}

.texto-com-background {
    background-color: yellow;

}

#texto-com-outra-cor{
    color: black;
}