/*h1,h2,h3,h4,h5,h6,p {
    color: orange;
}*/

*{
    color: orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.texto-com-background{
    background-color: yellow;
}

#texto-com-outra-cor{
    color: green;
}

section >p{
    color: blue;
}

section p:nth-child(2){
    color: hotpink
}


